div.filter_lti {
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }

    .filter_lti_zoom_toggle {
        opacity: 0;
        margin: 0;
        position: absolute;
        cursor: pointer;
    }

    label {
        margin-left: auto;
        display: block;
        width: fit-content;
    }

    .filter_lti_inner {
        width: 100%;
        height: calc(100vh - 100px - 2em); /* 100px is the size of the Snap header, 2em provides a margin */
        max-height: calc(100vh - 100px - 2em); /* 100px is the size of the Snap header, 2em provides a margin */
    }

    &.filter_lti_type_mediasite {
        .filter_lti_inner {
            height: auto;
            aspect-ratio: 4 /3;
        }
    }

    &.filter_lti_options_16x9 {
        .filter_lti_inner {
            aspect-ratio: 16 / 9;
        }
    }

    &.alert {
        font-weight: 300;

        b {
            font-weight: 400;
        }

        div:has(small) {
            text-align: right;
        }
    }

    &:has(.filter_lti_zoom_toggle:checked) {
        position: fixed;
        top: 2em;
        left: 2em;
        bottom: 2em;
        right: 2em;
        background-color: white;
        box-shadow: 0 8px 16px 0 #0007;
        padding: 1em;
        z-index: 1060; /* To go over the Snap header */

        .filter_lti_inner {
            max-height: calc(100vh - 8em);
        }
    }
}