div.filter_lti {
    border: 1px solid red;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }


    .filter_lti_inner {
        position: relative;
        width: 100%;
        height: calc(90vh - 100px); /* 100px is the size of the Snap header */
        background-color: #eee;
    }

    &.filter_lti_type_mediasite {
        .filter_lti_inner {
            height: 100%;
            padding-bottom: 66%;
        }
    }

    &.filter_lti_options_16x9 {
        .filter_lti_inner {
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
        }
    }

    &.alert {
        font-weight: 300;

        b {
            font-weight: 400;
        }

        div:has(small) {
            text-align: right;
        }
    }
}